/* ------------------------------------------------------------------------- */
/*                                 LAYOUT                                    */
/* ------------------------------------------------------------------------- */
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: "robotoregular", Helvetica, Arial, sans-serif;
  font-size: 1em;
  background-color: transparent !important;
}
html {
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.light-grey-background {
  background-color: #FBFCFF;
}

.wrap .main-container section.products,
.wrap .main-container section.dashboard,
.wrap .main-container section.recipes,
.wrap .main-container section.blog,
.wrap .main-container section.opinion,
.wrap .main-container section.premium {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
}

.row-reverse {
  flex-direction: row-reverse !important;
}

/* ------------------------------------------------------------------------- */
/*                                 MENU                                      */
/* ------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header a {
  text-decoration: none;
}

.logo {
  margin: 0;
  background-position: center;
  background-image: url(../assets/img/greentips-logo.png);
  background-repeat: no-repeat;
  background-size: 52%;
  text-align: center;
}

.logo a {
  height: 45px;
  width: 187px;
}

.main-nav {
  margin-top: 5px;
}

.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  display: block;
}

.main-nav a {
  color: #FFFFFF;
  font-size: .99em;
}

.main-nav a:hover {
  color: #FFFFFF;
  opacity: 0.8;
}

.first-nav li:last-child {
  position: absolute;
  right: 42%;
}

.second-nav li:last-child {
  align-self: center;
}

.header {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 5px;
  padding-right: 20px;
  border: 0;
  background-color: transparent;
}

i {
  margin-left:2px;
}

/* Changement scroll menu */
.scrolled {
  background-color: #E5E5E5;
}
.textscrolled {
  color: #000000 !important;
}
.logoscrolled {
  background-image: url(../assets/img/greentips-logo-footer.png) !important;
}

/* Bouton s'enregistrer */
.subscribe-btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #59d78e;
  padding: 5px 22px 5px 22px !important;
  text-decoration: none;
  font-weight: bold;
}
.subscribe-btn:hover {
  background: #4dba7b;
  text-decoration: none;
}

/* Media Queries */
@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header .header {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
}
@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* ------------------------------------------------------------------------- */
/*                                 HEADER                                    */
/* ------------------------------------------------------------------------- */
.wrap .homepage {
  background-image: url(../assets/img/background.png);
  background-repeat: repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  height: 800px !important;
  margin-top: -100px;
}
.wrap .homepage .container .homepage-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
}
.wrap .homepage .container .homepage-text .baseline {
  text-transform: uppercase;
}
.wrap .homepage .container .homepage-text h1 {
  font-size: 4em;
  margin-top: 0;
}
.wrap .homepage .container .homepage-text .images-container .playstore,
.wrap .homepage .container .homepage-text .images-container .appstore {
  width: 22%;
  margin: 0 auto;
}
.wrap .homepage .container .homepage-text .discover-button {
  font-size: 1.5em;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 25px;
}
.wrap .homepage .container .homepage-text .ticks-container {
  display: flex;
  width: 90%;
  margin: 30px auto;
}
.wrap .homepage .container .homepage-text .ticks-container .tick {
  margin: 10px;
}
.wrap .homepage .container .homepage-text .ticks-container .tick {
  width: 50%;
  margin: 10px auto;
}
.wrap .header {
  position: fixed;
  top: 0;
  width: 100%;
}
.wrap header .container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}

/* Bouton découvrir */
.discover-button {
  opacity: 0.8;
  background: #59d78e;
  background-image: -webkit-linear-gradient(left, #59d78e, #3291c5);
  background-image: -moz-linear-gradient(left, #59d78e, #3291c5);
  background-image: -ms-linear-gradient(left, #59d78e, #3291c5);
  background-image: -o-linear-gradient(left, #59d78e, #3291c5);
  background-image: linear-gradient(to right, #59d78e, #3291c5);
  -webkit-border-radius: 35;
  -moz-border-radius: 35;
  border-radius: 35px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  padding: 15px 30px 15px 30px !important;
  text-decoration: none;
}
.discover-button:hover {
  opacity: 1;
  background: #4dba7b;
  background-image: -webkit-linear-gradient(left, #4dba7b, #3185bd);
  background-image: -moz-linear-gradient(left, #4dba7b, #3185bd);
  background-image: -ms-linear-gradient(left, #4dba7b, #3185bd);
  background-image: -o-linear-gradient(left, #4dba7b, #3185bd);
  background-image: linear-gradient(to right, #4dba7b, #3185bd);
  text-decoration: none;
}

/* ------------------------------------------------------------------------- */
/*                              PRODUCTS                                     */
/* ------------------------------------------------------------------------- */
.wrap .main-container section.products .container {
  border-top: 1px solid grey;
  padding-top: 20px;
  /*
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  */
}

/* ------------------------------------------------------------------------- */
/*                              DASHBOARD                                    */
/* ------------------------------------------------------------------------- */
.wrap .main-container section.dashboard .container {
  border-top: 1px solid grey;
  padding-top: 20px;
  /*
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  */
}

/* ------------------------------------------------------------------------- */
/*                              RECIPES                                      */
/* ------------------------------------------------------------------------- */
.wrap .main-container section.recipes .container {
  border-top: 1px solid grey;
  padding-top: 20px;
  /*
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  */
}

/* ------------------------------------------------------------------------- */
/*                              BLOG                                         */
/* ------------------------------------------------------------------------- */
.wrap .main-container section.blog .container {
  border-top: 1px solid grey;
  padding-top: 20px;
  /*
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  */
}

/* ------------------------------------------------------------------------- */
/*                              OPINION                                      */
/* ------------------------------------------------------------------------- */
.wrap .main-container section.opinion .container {
  border-top: 1px solid grey;
  padding-top: 20px;
  /*
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  */
}

/* ------------------------------------------------------------------------- */
/*                              PREMIUM                                      */
/* ------------------------------------------------------------------------- */
.wrap .main-container section.premium .container {
  border-top: 1px solid grey;
  padding-top: 20px;
  /*
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  */
}

/* ------------------------------------------------------------------------- */
/*                                   FOOTER                                  */
/* ------------------------------------------------------------------------- */
.wrap .main-container footer {
  padding: 1.5%;
  text-align: center;
  background-color: #E5E5E5;
}
.wrap .main-container footer a {
  color: #000000;
}
.wrap .main-container footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
/* .wrap .main-container footer .container .footer-logo {
  width: 150px;
  height: auto;
  margin: 0 auto;
  width: 45px;
  height: 45px;
} */