/* ------------------------------------------------------------------------- */
/*                                 LAYOUT                                    */
/* ------------------------------------------------------------------------- */

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "gilroymedium", Arial, sans-serif;
  font-size: 1em;
  background-color: transparent !important;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

h1 {
  font-family: "gilroyextrabold", Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.light-blue-background {
  background-color: #EDF9F9;
}

.wrap .main-container section.products,
.wrap .main-container section.dashboard,
.wrap .main-container section.recipes,
.wrap .main-container section.blog,
.wrap .main-container section.opinion,
.wrap .main-container section.premium {
  width: 100%;
  height: 100%;
  padding: 2% 5%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
}

.wrap .main-container section.recipes h1,
.wrap .main-container section.blog h1,
.wrap .main-container section.products h1,
.wrap .main-container section.dashboard h1 {
  font-size: 2em;
  text-align: left;
}

.row-reverse {
  flex-direction: row-reverse !important;
}

/* ------------------------------------------------------------------------- */
/*                                 MENU                                      */
/* ------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header a {
  text-decoration: none;
}

.logo {
  margin: 0;
  background-position: center;
  background-image: url(../assets/img/greentips-logo.png);
  background-repeat: no-repeat;
  background-size: 52%;
  text-align: center;
}

.logo a {
  height: 45px;
  width: 187px;
}

.main-nav {
  margin-top: 5px;
}

.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  display: block;
}

.main-nav a {
  color: #FFFFFF;
  font-size: .8em;
}

.main-nav a:hover:not(.subscribe-btn) {
  color: #FFFFFF;
  opacity: 0.8;
}

.first-nav li:last-child {
  position: absolute;
  right: 42%;
}

.second-nav li:last-child {
  align-self: center;
}

.header {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 5px;
  padding-right: 20px;
  border: 0;
  background-color: transparent;
  z-index: 100;
}

i {
  margin-left: 2px;
}

/* Changement scroll menu */
.scrolled {
  background-color: #E6E6E6;
  opacity: 0.9;
}

.textscrolled:not(.subscribe-btn) {
  color: #585858 !important;
}

.logoscrolled {
  background-image: url(../assets/img/greentips-logo-footer.png) !important;
}

/* Bouton s'enregistrer */
.subscribe-btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #59d78e;
  padding: 5px 22px 5px 22px !important;
  text-decoration: none;
  font-weight: bold;
}
.subscribe-btn:hover {
  background: #4dba7b;
  text-decoration: none;
}

/* Media Queries */
@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header .header {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
}
@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .wrap .homepage {
    height: 1000px !important;
    margin-top: -100px;
  }
}

/* ------------------------------------------------------------------------- */
/*                                 HEADER                                    */
/* ------------------------------------------------------------------------- */
.wrap .homepage {
  background-image: url(../assets/img/background-blog.png);
  background-repeat: repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  height: 800px;
}

.wrap .homepage .container .homepage-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.wrap .homepage .container .homepage-text .baseline {
  text-transform: uppercase;
  margin-bottom: 60px;
}

.wrap .homepage .container .homepage-text .date {
  font-size: 12px;
  margin-top: 60px;
}

.wrap .homepage .container .homepage-text h1 {
  font-size: 2.2em;
  width: 60%;
  margin-left: 5;
  margin: 0 auto;
}

.wrap .header {
  position: fixed;
  top: 0;
  width: 100%;
}

.wrap header .container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}

/* ------------------------------------------------------------------------- */
/*                              CATEGORIES                                   */
/* ------------------------------------------------------------------------- */
.wrap .main-container section.categories {
  margin-top:60px;
  margin-bottom:40px;
}

.wrap .main-container section.categories .container {
  margin-top:40px;
  margin: 0 auto;
  text-align: center;
}

.wrap .main-container section.categories ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

.wrap .main-container section.categories a {
  text-decoration: none;
  color:#000000;
  margin: 10px;
}

/* ------------------------------------------------------------------------- */
/*                              ARTICLES                                     */
/* ------------------------------------------------------------------------- */
.wrap .main-container section.articles {
  flex: 1 100px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.wrap .main-container section.articles div:not(.bottom-container) {
  display: flex;
  flex-direction: column;
}

.wrap .main-container section.articles div img {
  padding: 2%;
}

.wrap .main-container section.articles .bottom-container img {
  max-width: 100%;
  width: 1330px;
}

.zoom { transition: all .2s ease-in-out; }
.zoom:hover { transform: scale(1.05); }



/* ------------------------------------------------------------------------- */
/*                                   FOOTER                                  */
/* ------------------------------------------------------------------------- */
.wrap .main-container footer {
  padding: 1.5%;
  text-align: center;
  background-color: #E5E5E5;
}

.wrap .main-container footer a {
  color: #000000;
}

.wrap .main-container footer .container {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 auto;
}

.wrap .main-container footer .container .footer-logo,
.wrap .main-container footer .container .social-links {
  margin: 15px 5px;
  display: flex;
  justify-content: space-around;
}

.wrap .main-container footer .container .social-links .twitter-container,
.wrap .main-container footer .container .social-links .fb-container,
.wrap .main-container footer .container .social-links .insta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap .main-container footer .container .social-links .twitter-container a,
.wrap .main-container footer .container .social-links .fb-container a,
.wrap .main-container footer .container .social-links .insta-container a {
  margin-top: 30px;
}